* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("bg.jpg");
}
.gallery-img {
  display: none;
  max-height: 600px;
}

.active {
  display: block;
}

.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #0074d9;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color: #666;
  cursor: not-allowed;
}
.bro {
  text-align: center;
  font-family: sans-serif;
  color: #f7f8fa;
  margin: 0;
  padding: 0;
}

img {
  border: 0.5rem solid rgb(34, 33, 33);
  width: 550px;
  height: 1000px;
}
